nav {
    top:0;
    background-color: lightgray;
    width:100vw !important;
    height:10vh !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}