#pays {
    background-color: violet;
    height:90vh !important;
    width:100vw !important;
    position: static;
    bottom:0px;
}

#super-p {
    display: flex;
    justify-content: space-around !important;
    height:95%;
}

.pcard {
    background-color: antiquewhite;
    height:100% !important;
    width:22%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    text-align: center;
}


.pimages {
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
