@import url(nav.css);
@import url(introduction.css);
@import url(france.css);
@import url(pays.css);
@import url(bannieres.css);

* {
    margin:0px;
    padding:0px;
}

html {
    height:100%;
    width:100vw;
    padding:0;
    margin:0;
}

body {
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
}

.section {
    background-color:lightblue;
    height:90vh;
    width:100%;
    margin-top:10vh;
}

