@import url(nav.css);
@import url(introduction.css);
@import url(france.css);
@import url(pays.css);
@import url(bannieres.css);

* {
    margin:0px;
    padding:0px;
}

html {
    height:100%;
    width:100%;
}

.container {
    background-color: blue;
    width:100vw;
    margin-top:10vh;
}

.section {
    height:90vh;
    width:100vw;
}
